[submodule "external/baseclasses"]
	path = external/baseclasses
	url = https://github.com/krkrz/baseclasses.git
	ignore = dirty
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/krkrz/freetype.git
	ignore = dirty
[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://github.com/krkrz/libjpeg-turbo.git
	ignore = dirty
[submodule "external/lpng"]
	path = external/lpng
	url = https://github.com/krkrz/libpng.git
	ignore = dirty
[submodule "external/onig"]
	path = external/onig
	url = https://github.com/krkrz/oniguruma.git
	ignore = dirty
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/krkrz/zlib.git
	ignore = dirty
[submodule "external/jxrlib"]
	path = external/jxrlib
	url = https://github.com/krkrz/jxrlib.git
	ignore = dirty
[submodule "external/angle"]
	path = external/angle
	url = https://github.com/krkrz/angle.git
	ignore = dirty
[submodule "external/libogg"]
	path = external/libogg
	url = https://github.com/krkrz/libogg.git
	ignore = dirty
[submodule "external/opus"]
	path = external/opus
	url = https://github.com/krkrz/opus.git
	ignore = dirty
[submodule "external/opusfile"]
	path = external/opusfile
	url = https://github.com/krkrz/opusfile.git
	ignore = dirty
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/krkrz/glm.git
	ignore = dirty
